body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #FE5F55;
}

.navbar_override {
  background-color: #FFFFF2 !important;
}

.form_container {
  background-color: #FFFFF2;
  padding: 50px;
  margin: 50px;
}

.dashboard_component {
  margin: 50px;
}

.container {
  background-color: #FFFFF2;
  padding: 50px;
}

.detailpage_container {
  background-color: #FFFFF2;
  padding: 35px 70px;
}

.tag_container {
  margin: 30px;
  padding-top: 10px;
  padding-right: 10px;
}

.recipecard_image {
  height: 250px;
  width: 300px;
}

.instructions_list {
  list-style-type: none;
}

.video_component {
  align-items: center;
}

li {
  padding: 5px 0;
}

.button_basic {
  background-color: #33CA7F !important;
}

.tag_button {
  background-color: #41D3BD !important;
  display: inline-block !important;
  padding: 15px 20px !important;
  text-align: center;
  border-radius: 10px !important;
  box-shadow: 0 7px #999 !important;
}

.tag_button:active {
  background-color: #41D3BD;
  box-shadow: 0 3px #666 !important;
  transform: translateY(3px);
}
